.container-cart{
    padding: 150px 150px;
}
.cart-detail{
    width: 70%;
    height: 300px;
    
    text-align: center;
    /* background-color: blue; */
}
.cart-detail table{
   
    width: 100%;
    height: 300px;
    border: cadetblue solid 2px;
    font-weight: bold;
    font-size: medium;
   
    /* background-color: blue; */
}
.cart-detail table tr th{
    text-align: center;
}
.cart-button{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
}
.cart-button-continue{
    width: 45%;
    height: 100%;
    /* background-color: blanchedalmond; */
    margin-right: 5%;
   
    /* border: rgb(30, 149, 165) solid 2px; */
    color:rgb(19, 154, 163);
    font-size:large;
    font-weight: bold;
    border-radius: 10px;
}
.cart-button-continue:hover{
     border: rgb(30, 149, 165) solid 2px;
}
.cart-button-pay{
    width: 45%;
    height: 100%;
    margin-left: 5%;
    /* border: rgb(30, 149, 165) solid 2px; */
    color:white;
    background-color: rgb(25, 162, 167);
    font-size:large;
    font-weight: bold;
    border-radius: 10px;

}
.cart-button-pay:hover{
    border: rgb(255, 0, 0) solid 2px;
}

